body {
  padding: 0;
  margin: 0;
}
#map {
  height: 100vh;
  width: 100vw;
}
.grid {
  outline: 1px solid #7baaf7;
  color: #7baaf7;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}